/* stylesheet for DemoSite04_StudyWeb */

/* global settings */
/* ============================================ */

/* charset */
@charset "UTF-8";

/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* variable definition */
:root {
    /* font-color */
    --font-color-default: rgb(0, 0, 0);
    --font-color-link-default: rgb(0, 0, 255);
    /* outline-color */
    --outline-color-focus: rgba(0, 0, 255, .7);
    /* border-color */
    --border-color-primary: rgb(0, 0, 0);
    /* background-color */
    --background-color-default: rgb(130, 130, 130);
    --background-color-pageHead: rgb(130, 130, 130);
    --background-color-pageFoot: rgb(130, 130, 130);
    --background-color-pageMain: rgb(255, 255, 255);
    --background-color-input: rgba(255, 255, 255, .8);
    --background-color-button-search: rgb(255, 187, 0);
    /* line-height */
    --line-height-default: 1.5;
    /* size, length, width, or height */
    --width-contentsMaxWidth: 1080px;
    --width-sidePadding: 1rem;
    /* others */
    --opacity-hover: .6;
}

/* basic settings */
body {
    font-size: inherit;
    font-family: 'Noto Serif JP', serif;
    line-height: var(--line-height-default);
    color: var(--font-color-default);
    background: var(--background-color-default);
}

/* link */
a {
    color: var(--font-color-link-default);
}
a[target="_blank"]::after {
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    font-size: .9em;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 0 .3em;
}
a:hover,
a:hover * {
    opacity: var(--opacity-hover);
}

/* focus */
*:focus-visible {
    outline: auto var(--outline-color-focus);
}
*[tabindex="0"]:focus:not(:focus-visible) {
    outline: none;
}

/* img */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* table */
th {
    font-weight: inherit;
}

/* input, textarea, select */
input,
textarea,
select {
    padding: .3em .5em;
    border: solid 1px var(--border-color-primary);
    background: var(--background-color-input);
}

/* bold */
.bold {
    font-weight: bold;
}

/* centering */
.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* max width of contents */
.contentsMaxWidth {
    max-width: var(--width-contentsMaxWidth);
    margin-left: auto;
    margin-right: auto;
}

/* side padding for narrow screen */
.sidePadding {
    padding-left: var(--width-sidePadding);
    padding-right: var(--width-sidePadding);
}
@media screen and (min-width: 1080px) {

    .sidePadding {
        padding-left: max(0px, calc(var(--width-sidePadding) - (100vw - 1080px) / 2));
        padding-right: max(0px, calc(var(--width-sidePadding) - (100vw - 1080px) / 2));
    }
}


/* #pageHead */
/* ============================================ */

/* pageHead itself */
#pageHead {
    background: var(--background-color-pageHead);
}

/* pageHead layout */
#pageHead {
    padding: .5em 0;
}
#pageHead #pageHeadGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a b b b . . . ."
        "c c c c c c c c";
    gap: .5em 0;
}
#pageHead .siteLogo {
    grid-area: b;
}
#pageHead #sideMenuButton {
    grid-area: a;
}
#pageHead #memberMenu {
    display: none;
}
#pageHead #searchForm {
    grid-area: c;
}

/* sideMenuButton */
#pageHead #sideMenuButton {
    text-align: center;
}

/* memberMenu */
#pageHead #memberMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background-color-pageHead);
}
#pageHead #memberMenu #memberMenuButton {
    padding: .5em 1em;
    border: solid 1px var(--border-color-primary);
    border-radius: 5px;
}
#pageHead #memberMenu:not(.open) .accordionMenu {
    display: none;
}
#pageHead #memberMenu.open .accordionMenu {
    display: block;
}

/* search form */
#pageHead #searchForm #searchInputWrap {
    display: flex;
    width: calc(100% - 2 * .5em);
    max-height: 2em;
    margin: 0 .5em;
    border-radius: 5px;
    background: var(--background-color-input);
}
#pageHead #searchForm #searchInputWrap > * {
    height: 100%;
    padding: .2em .5em;
}
#pageHead #searchForm #searchInput {
    width: 100%;
    border: none;
    background: none;
}
#pageHead #searchForm #searchButton {
    text-align: center;
    border-radius: 5px;
    background: var(--background-color-button-search);
}

/* #pageFoot */
/* ============================================ */

/* pageFoot itself */
#pageFoot {
    padding: 1em 0;
    background: var(--background-color-pageFoot);
}

/* copyright */
#pageFoot #copyright {
    text-align: center;
}

/* #pageMain */
/* ============================================ */

/* pageMain itself */
#pageMain {
    min-height: 100vh;
    background: var(--background-color-pageMain);
}
